.*.swp
._*
.DS_Store
.git
.hg
.npmrc
.lock-wscript
.svn
.wafpickle-*
config.gypi
CVS
npm-debug.log
yarn.lock
package-lock.json
.babelrc
.editorconfig
.eslintignore
.eslintrc.js
.prettierrc.js
Dev.md
Plan.md